In [1]:
mytuple = (2,3,4)
mytuple

(2, 3, 4)

In [2]:
mytuple[1]

3

In [3]:
mytuple[2] = 7

TypeError: 'tuple' object does not support item assignment

In [4]:
len(mytuple)

3

In [5]:
myset = {"apple", "pear", "grape"}
myset

{'apple', 'grape', 'pear'}

In [6]:
len(myset)

3

In [7]:
myset2={"cireual", "grape", "platain"}
myset2

{'cireual', 'grape', 'platain'}

In [8]:
myset | myset2

{'apple', 'cireual', 'grape', 'pear', 'platain'}

In [9]:
myset.intersection(myset2)

{'grape'}